.container-fluid{
    margin: 0;
    padding: 0;
    color: white;
}
.form-control{
    background-color: transparent;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
.form-control:focus{
    background-color: transparent;
    color: white;
    box-shadow: none;
}
.box{
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    background-color: rgba(0, 0, 0, 0.677);
}
.btn{
    margin-top: 30px;
}
.body{
    min-height: fit-content;
}
.style1{
    position: absolute;
    border-top: 3px solid;
    border-left: 3px solid;
    left: 0px;
    top: 0;
    width: 50px;
    height: 50px;
}
.style2{
    position: absolute;
    border-top: 3px solid;
    border-right: 3px solid;
    right: 0px;
    top: 0;
    width: 50px;
    height: 50px;
}
.style3{
    position: absolute;
    border-bottom: 3px solid;
    border-left: 3px solid;
    left: 0px;
    bottom: 0;
    width: 50px;
    height: 50px;
}
.style4{
    position: absolute;
    border-bottom: 3px solid;
    border-right: 3px solid;
    bottom: 0px;
    right: 0;
    width: 50px;
    height: 50px;
}
.footer{
    margin-top: 170px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 20px 20px 20px 30px;
    color: white;
}
.logo{
    margin-top: -10px;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://wallpaperaccess.com/full/1126755.jpg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:2000px; }
to {background-position: -100px 0px;background-size:1750px;}
}

@keyframes slidein {
from {background-position: top;background-size:2000px; }
to {background-position: -100px 0px;background-size:1750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(53, 54, 66, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}
